.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading {
  color: #323f4b;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: 1px 1px 1px 1px;
}
